* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-webcam-container {
  position: relative;
}
.app-webcam-container .app-webcam {
  position: absolute;
  width: 640px;
  height: 480px;
  left: 0;
  z-index: 9;
}