/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

.app-webcam-container {
  position: relative;
}
.app-webcam-container .app-webcam {
  position: absolute;
  width: 640px;
  height: 480px;
  left: 0;
  z-index: 9;
}